.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensure the container spans the full width */
  padding: 0 60px;
}

.header_link {
  margin-right: 20px;
  margin: 40px;
}
